<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/823694/pexels-photo-823694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container text-center">
    <h1>Bienvenue!</h1>
    <p>Réservez des lieux uniques et vivez des experiences incroyables.</p>
    <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control w-25 m-auto",
        placeholder: "Paris Montmartre"
      %>
      <%= submit_tag "Lancer la recherche", class: "btn btn-principal" %>
    <% end %>
  </div>
</div>
