.cards {
  flex-grow: 1;
}

.card {
  background-color: white;
  box-shadow:       1px 1px 3px rgba(0,0,0,0.2);
  padding:          20px;
  margin:           20px;
  border-radius:    5px;
}

.card:hover {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
