.flat-container {
  width:           80%;
  margin:          auto;
  display:         flex;
}

.flat-image-show img{
  width:         600px;
  height:        400px;
  object-fit:    cover;
  border-radius: 5px;
  margin-right:  30px;
}
